// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$woth-yellow: #D5D0B4;
$woth-blue: #00AACE;
$woth-gray: #838792;
$woth-pink: #D49CA3;
$woth-purple: #3A4098;
$woth-green: #485F5D;
$woth-brown: #3A322F;
