// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$woth-yellow: #E5DE86;
$woth-blue: #56B2DB;
$woth-gray: #898989;
$woth-pink: #D8B0AE;
$woth-purple: #A16DAF;
$woth-green: #7A836B;
$woth-brown: #A88D7C;
