<div class="footer-banner" id="footer">
  <div class="footer-flex">
    <h2>Follow our social</h2>
    <div class="footer-social">
      <i class="fab fa-facebook-square fa-3x" id='emieltest'></i>
      <i class="fab fa-twitter-square fa-3x"></i>
      <i class="fab fa-google-plus-square fa-3x"></i>
      <i class="fab fa-youtube-square fa-3x"></i>
    </div>
    <div class="footer-coffee">
      <p> Or come have a coffee <i class="fas fa-heart red-heart"></i> </p>
    </div>
  </div>
</div>
