<h1 id='convoy-title'></h1>
<button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>


<p>Create or join a convoy to team up on those long drives through the outback.</p>
<%= link_to 'Start a convoy!', new_convoy_path, class: 'btn btn-success' %>


<div id="title">
  <h2>How it works</h2>
</div>
<h4>Finding a convoy</h4>
<ul>
  <li>1. Search for a route</li>
  <li>2. Apply to join convoy</li>
  <li>3. Wait for confirmation</li>
  <li>4. That's it, ready to go!</li>
</ul>
<h4>Creating a convoy</h4>
<ul>
  <li>1. Define your route</li>
  <li>2. Set your criteria</li>
  <li>3. Wait for people to join</li>
  <li>4. That's it, ready to go!</li>
</ul>

<%= link_to 'Find a convoy', convoys_path, class: 'btn btn-success' %>
