<h1>JoinMyConvoy</h1>
<p>Create or join a convoy to team up on those long drives through the outback.</p>
<a href="/convoys/new" class="btn-banner">Start a convoy</a>


<h2>How it works</h2>
<h4>Finding a convoy</h4>
<ul>
  <li>1. Search for a route</li>
  <li>2. Apply to join convoy</li>
  <li>3. Wait for confirmation</li>
  <li>4. That's it, ready to go!</li>
</ul>
<h4>Creating a convoy</h4>
<ul>
  <li>1. Define your route</li>
  <li>2. Set your criteria</li>
  <li>3. Wait for people to join</li>
  <li>4. That's it, ready to go!</li>
</ul>
