<div class="card-kitchen">
  <div class="card__title">
    <p>Placeholder</p>
  </div>
  <i class="far fa-heart favorite_convoy_heart"></i>
  <div class="card__content">
    <div class="card__content-text">
     Members: <br>
     From: <br>
     To: <br>
     FWD: <br>
     Start: <br>
    </div>
    <div class="card__content-image">
      <%= cl_image_tag("https://images.unsplash.com/photo-1489993360877-883980cc7333?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200",class: 'card__content-image-img') %>
    </div>
  </div>
</div>
