.footer-banner {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-flex {
  text-align: center;
  color: $woth-yellow;
}

.footer-coffee {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-heart {
  color: red;
}
