.form {
  margin: 20px 25%;
  background-color: white;
  padding: 50px;
  border: 1px solid lightgray;
}

.form-wrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.form-hidden {
  display: none;
}


.user-edit-form-custom {
  border: 1px solid black;
  padding: 50px;
  margin: 25px 0px;
  background-color: lightgray;
  &:hover {
    box-shadow: 1px 1px $woth-yellow;
  }
}


.datepicker {
  background-color: white !important;
}
