.navbar-lewagon {
  justify-content: space-between;
  background: $woth-brown;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $woth-pink !important;
}

.navbar-brand {
  color: $woth-pink !important;
}
